table.js-sorting tr:not(.home){
    cursor:pointer;
}

.ui-state-highlight{
    border:2px dashed #000000;
}
div.new-cat{
    margin-top:20px;
    position:relative;
}
span.ajax-text{
    display:none;
}
.table.js-sorting.categories{
    padding : 30px !important;
}
.ajaxdivtd{
    position:absolute;
        
}

ul.without-bullets {
    list-style-type: none;
}
.navbar-brand {
    color: lightpink;
}
.active {
    color: lightpink;
    background-color:darkslategray;
}
span.loader {
 display:none;
}
.ajaxmsg {
  background:green;
  color:white;
  padding:10px;
  display:none;
  position:absolute;
  bottom:0;
}
.ib {

    display:inline-block!important;
}
.ajaxbg{
    position:absolute;
    width:100%;
    height:100%;
    background:white;
    display:none;
    z-index:1;  
}
.ajaxbg span {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate3d(-50% -50% ,0);
}
form.paypalform{
    position:absolute;
    left:-2000px;
}
.row{
    position:relative; 
}

